<%- include('./partials/header.ejs')%>
<body>
    <%- include('./partials/navbar.ejs')%>
    <div class="container">
        <h1 class="mt-4">Cadastro de Usuário</h1>
        <% if (typeof errorMessage !== 'undefined') { %>
            <div class="alert alert-danger" role="alert">
                <%= errorMessage %>
            </div>
        <% } %>
        <form action="/cadastrar" method="POST" class="mt-3">
            <div class="form-group">
                <label for="nome">Nome:<span class="text-danger">*</span></label>
                <input type="text" id="nome" name="nome" class="form-control" placeholder="Digite seu nome" required>
            </div>
            <div class="form-group mt-3">
                <label for="email">Email:<span class="text-danger">*</span></label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Digite seu email" required>
            </div>
            <div class="form-group mt-3">
                <label for="senha">Senha:<span class="text-danger">*</span></label>
                <input type="password" id="senha" name="senha" class="form-control" placeholder="Digite sua senha" required>
            </div>
            <div class="form-group mt-3">
                <label for="confirmaSenha">Repita sua senha:<span class="text-danger">*</span></label>
                <input type="password" id="confirmaSenha" name="confirmaSenha" class="form-control" placeholder="Repita sua senha" required>
            </div>
            <p class="mt-3">Já tem uma conta? <a href="/login">Faça login aqui</a></p>
            <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
